      body {
        background: #e9eaf5;

        margin: 0;
        padding: 0;
      }

      * {
        font-family: "Signika Negative", sans-serif;
      }
      .subtitle {
        margin: 0 80px;
        padding: 10px;
        font-size: 50px;
        background: #174da3;
        text-align: center;
        border-radius: 30px;
        color: white;
        margin-top: 50px;

        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
        border: 10px solid black;
        border-bottom-width: 0px;
      }
      .para {
        font-size: 32px;
        color: #20b2aa;
        border-radius: 50px;
        margin: 40px;
        text-align: justify;
      }
      .no {
        font-size: 40px;
        border: 2px solid black;
        display: inline-block;
        border-radius: 30px;
        color: #f5f5dc;

        margin: 30px 0 10px 0;
        padding: 10px 25px;
      }
      #one {
        background: #9ffee5;
        color: rgb(0, 0, 0);
        margin-left: 50px;
      }
      #two {
        background: #a1d4f9;
        color: rgb(0, 0, 0);
        margin-left: 50px;
      }
      #three {
        background: #fde6d2;
        color: rgb(0, 0, 0);
        margin-left: 50px;
      }
      #four {
        background: #f6ccf8;
        color: rgb(0, 0, 0);
        margin-left: 50px;
      }
      #five {
        background: #ffa8b6;
        color: rgb(0, 0, 0);
        margin-left: 50px;
      }

      .describe {
        font-size: 28px;
        min-height: 120px;
        border-radius: 45px;
        margin: 30px 40px;
        color: #3185d4;

        background: #f7f7fa;
        padding: 20px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
        text-align: justify;
      }
      .describe::before {
        content: "ABOUT: ";
        font-size: 32px;
        margin-right: 10px;
        color: black;
        font-weight: bold;
      }
      img {
        margin: 30px 0 10px 40px;
        border-radius: 40px;
        border: 2px solid #333;
        width: 500px;
        height: 250px;

        display: block;
      }
      .footer {
        color: gray;
        font-size: 24px;
        text-align: center;
        margin: 20px 40px 0 0;
        padding: 20px 0;
        width: 100%;
        background: lightblue;
        bottom: 0px;
      }


      .sui{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px;
      }
      .linktootherpages a {
        text-decoration: none;
        color: black;
        margin: 15px;
        background-color: aliceblue;
        border-radius: 5px;
        height: 12%;
        text-align: center;
        justify-content: center;
      }

       .linktootherpages{
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: lightblue;
        height: 200px;
        border-radius: 10px;
       }


       .h2{
        display: flex;
        text-align: center;
        justify-content: center;
       }
       h2{
        background: lightblue;
        text-align: center;
        width: 60%;
        border-radius: 5px;
        }
      @media (max-width: 900px) {
        .title,
        .subtitle {
          font-size: 40px;
        }
        .para,
        .describe {
          font-size: 20px;
        }
        .no {
          font-size: 24px;
          padding: 6px 12px;
        }

        img {
          margin: 30px 0 10px 40px;
          border-radius: 40px;
          border: 2px solid #333;
          width: 300px;
          height: 225px;
          object-fit: cover;
          display: block;
        }
      }
    